*,
*::before,
*::after {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

input:is([type="checkbox"], [type="radio"]),
select,
label,
button {
  cursor: pointer;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

body {
  line-height: 1.5;
  background: #ffffff;
  font-family: "Geist", sans-serif;
}

button {
  background: transparent;
  border: 0;
}

:root {
  --bg-color: #fff;
  --text-color: #000;
}

.layout {
  width: 100%;
  display: flex;
}

.sidebar {
  width: 15%;
  height: 100vh;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar-top {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.sidebar-top h1 {
  font-size: 1.125rem;

  @media (max-width: 768px) {
    display: none;
  }
}

.sidebar-middle {
  margin: 1.5rem 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.sidebar-bottom {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.main {
  width: 85%;
  padding-right: 1rem;
}

.header {
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
  gap: 12px;
}

.chat-interface {
  padding: 1rem;
  background-color: #f2f5ea;
  height: calc(100vh - 94px);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* .sidebar-top svg {
  padding: 6px 8px;

} */

.flex {
  display: flex;
  gap: 6px;
  align-items: center;
  padding: 6px 8px;
}

.interface-top {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.chat-menu {
  display: flex;
  justify-content: right;
  align-items: end;
}

.greeting {
  text-align: center;
}

.interface-bottom {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  border: 1px solid black;
  border-radius: 12px;
  padding: 12px;
}

textarea {
  width: 100%;
  border: 0;
  background: transparent;
  outline: #fff;
}

.option-wrapper div {
  display: none;
}

.option-wrapper button {
  display: flex;
  align-items: center;
  gap: 6px;
}

.action-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-btns {
  display: flex;
  align-items: center;
  gap: 10px;
}

@media (max-width: 768px) {
    .flex p {
        display: none;
    }
}