*,
*::before,
*::after {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

input:is([type="checkbox"], [type="radio"]),
select,
label,
button {
  cursor: pointer;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

body {
  line-height: 1.5;
}

.layout {
  width: 100%;
  display: flex;
}

.sidebar {
  width: 20%;
  height: 100vh;
  padding: 10px 6px;
display: flex;
flex-direction: column;
justify-content: space-between;
  border: 1px solid red;
}

.sidebar-top {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.sidebar-top h1 {
    font-size: 1.125rem;

    @media (max-width: 768px) {
        display: none;
    }
}

.sidebar-middle {
    margin: 1.5rem 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.sidebar-bottom {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.main {
  width: 80%;
  border: 1px solid blue;
}

.header {
  padding: 10px 6px;
  border: 1px solid green;
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}

.chat-interface {
  padding: 0 6px;
}

.flex {
    display: flex;
    gap: 6px;
}
